@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/KyivTypeSans/KyivTypeSans-Medium2.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/KyivTypeSans/KyivTypeSans-Regular-.ttf') format('truetype');
    font-weight: 350;
    font-display: swap;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/KyivTypeSans/KyivTypeSans-Bold2.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Centurygothic';
    src: url('/fonts/centurygothic/centurygothic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Centurygothic';
    src: url('/fonts/centurygothic/centurygothic_bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}