@import '../../../global/variable.scss';


.modal_wrapper {
    width: 100%;
    height: 100dvh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b9b9b33;
    backdrop-filter: blur(0.4rem);
    transition: all ease-in-out 300ms;
    z-index: -10;
    opacity: 0;

    &.active {
        opacity: 1;
        z-index: 200;
    }

    .modal {
        background-color: $color-bg;
        border-radius: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5rem 7rem;
        position: relative;
        box-shadow: 0 0 2rem 0 #9b9b9b9a;
        width: 180rem;
        margin: 0 auto;

        @media (max-width:$media-mobile) {
            width: 100%;
            height: 100%;
            border-radius: 0;
            padding: 8rem 6rem;
        }

        .close_form {
            position: absolute;
            top: 10rem;
            right: 16rem;
            width: 5.841rem;
            height: 5.841rem;
            padding: 1rem;
            box-sizing: border-box;
            border-radius: 50%;
            background-color: $color-browne;
            cursor: pointer;

            @media (max-width:$media-mobile) {
                width: 4.5rem;
                height: 4.5rem;
                max-width: 100%;
            }

            .lines {
                position: relative;
                width: 100%;
                height: 100%;
                transform: translateX(calc(50% - 0.2rem));

                span {
                    position: absolute;
                    top: 0;
                    display: block;
                    width: 0.4rem;
                    height: 100%;
                    background-color: $color-white;

                    &:nth-of-type(1) {
                        left: 0;
                        transform: rotate(45deg);
                    }

                    &:nth-of-type(2) {
                        left: 0;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .status {
            position: absolute;
            right: 5.2rem;
            top: -1.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            line-height: 1;
            text-align: center;
            font-weight: 200;
            color: $color-white;
            width: 14.8rem;
            height: 3.8rem;
            border-radius: 0.7rem;
            padding: 0 0 0.4rem 0;
            background-color: $color-white;

            &.done {
                background-color: $color-green;
            }

            &.on_work {
                background-color: $color-lightBrowne;
            }
        }

        .progres {
            max-width: 162rem;
            width: 100%;
            margin-top: 8rem;

            .item {
                width: 54rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .item_wrapper {
                    width: 54rem;
                    height: 54rem;
                    background-color: #5A5A5A80;
                    border: 0.1rem solid $color-white;
                    border-radius: 2.5rem;
                    padding: 5.4rem 8rem 0 8rem;
                    position: relative;
                    transform: scale(0.9);
                    transition: all ease-in-out 300ms;
                    margin-top: 1rem;

                    &.active {
                        transform: scale(0.95);
                    }
                }

                .progress_slide {
                    width: 38rem;
                    height: 24.9rem;
                    border: 0.2rem solid $color-white;
                    border-radius: 2rem;
                    overflow: hidden;

                    .content_wrapper {
                        width: 100% !important;
                        height: 100% !important;
                        position: relative;

                        img,
                        video {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: auto !important;
                            height: 100%;
                            pointer-events: none;
                        }
                    }

                    img,
                    video {
                        width: auto;
                        height: 100%;
                    }
                }

                .bottomSlider {
                    margin-top: 1.6rem;
                    margin-bottom: 2rem;

                    .progress_slide {
                        height: 12rem;
                        width: calc(100%) !important;
                        border: none;
                        border-radius: 0;
                        display: flex !important;
                        justify-content: center;
                        align-items: center;

                        .content {
                            border-radius: 1.5rem;
                            width: 12rem;
                            height: 11.8rem;
                            overflow: hidden;
                            transform: scale(0.95);
                            transition: all ease-in 500ms;

                            &.active {
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }

        .text_info {
            color: $color-white;
            font-size: 1.6rem;
            line-height: 1.962rem;
            text-align: center;
            font-family: $font-Centurygothic;
        }
    }
}