@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/KyivTypeSans/KyivTypeSans-Medium2.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/KyivTypeSans/KyivTypeSans-Regular-.ttf');
    font-weight: 350;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('/fonts/KyivTypeSans/KyivTypeSans-Bold2.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Centurygothic';
    src: url('/fonts/centurygothic/centurygothic.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Centurygothic';
    src: url('/fonts/centurygothic/centurygothic_bold.ttf');
    font-weight: 700;
}