@import './fonts.scss';

$color-bg: #0D0D0D;
$color-beige: #EBD7B2;
$color-white: #ffffff;
$color-green: #247616;

$font-KyivTypeSans: "KyivTypeSans", sans-serif;
$font-Centurygothic: "Centurygothic", sans-serif;