@import '../../global/variable.scss';

.gift {
    margin-top: 24rem;

    @media (max-width:$media-mobile) {
        margin-top: 13rem;
    }

    .line_wrapper {
        margin-top: 9rem;
        margin-bottom: 6rem;

        @media (max-width:$media-mobile) {
            margin-top: 3rem;
        }

        .text {
            color: $color-white;
            font-size: 4rem;
            line-height: 4.8rem;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            margin-top: 2.4rem;

            @media (max-width:$media-mobile) {
                font-size: 2rem;
                line-height: 2.4rem;
                margin-top: 1.5rem;
            }
        }
    }

    .slider_wrapper {
        .slider {
            position: relative;
            padding-bottom: 13rem;

            @media (max-width:$media-mobile) {
                padding-bottom: 9rem;
                margin-bottom: 10rem;
            }

            div {
                height: 47.5rem;

                @media (max-width:$media-mobile) {
                    height: 35.1rem;
                }

                .item {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin: 0 auto;
                    margin: 0 1.5rem;
                    padding: 0;
                    transition: all ease-in 300ms;

                    @media (max-width:$media-mobile) {
                        margin: 0;
                        padding: 0;
                    }

                    &.active {
                        transform: scale(1);

                        .item_wrapper {
                            width: 43.1rem;
                            height: 40.5rem;
                            background: linear-gradient(137.3deg, #DCA61F 10.32%, #F6EC97 31.23%, #FADD5A 50.12%, #FBDE9C 67.34%, #E3A21F 86.35%);
                            box-shadow: 0 0 1.6rem 0 rgba(237, 224, 134, 0.5);

                            @media (max-width:$media-mobile) {
                                height: 33rem;
                                width: 100%;
                                min-width: 35rem;
                            }
                        }
                    }

                    &.second {
                        @media (max-width:$media-mobile) {
                            transform: scale(0.8);
                        }

                        .dot {
                            top: 3rem;
                            right: 4.4rem;
                            width: 5.3rem;
                            height: 5.3rem;
                            font-size: 1.6rem;

                            @media (max-width:$media-mobile) {
                                top: 0;
                                width: 5.3rem;
                                height: 5.3rem;
                                right: 3rem;
                            }
                        }

                        .item_wrapper {
                            width: 38.29rem;
                            height: 35.98rem;

                            @media (max-width:$media-mobile) {
                                height: 33rem;
                                width: 100%;
                                min-width: 35rem;
                            }

                            .name,
                            .price {
                                font-size: 2.843rem;
                                line-height: 3.411rem;

                                @media (max-width:$media-mobile) {
                                    font-size: 2rem;
                                    line-height: 2.4rem;
                                }

                                span {
                                    font-size: 3.554rem;
                                    line-height: 4.264rem;

                                    @media (max-width:$media-mobile) {
                                        font-size: 2.6rem;
                                        line-height: 3.12rem;
                                    }
                                }
                            }

                            .price {
                                margin-bottom: 1.6rem;

                                @media (max-width:$media-mobile) {
                                    margin-bottom: 2rem;
                                }
                            }

                            button {
                                font-size: 2.047rem;
                                line-height: 2.456rem;
                                padding: 1.6rem 3rem;
                                border-radius: 0.963rem;

                                @media (max-width:$media-mobile) {
                                    font-size: 1.6rem;
                                    line-height: 1.92rem;
                                    padding: 1.3rem 2.7rem;
                                }
                            }
                        }
                    }

                    &.third {
                        @media (max-width:$media-mobile) {
                            transform: scale(0.8);
                        }

                        .dot {
                            top: 5rem;
                            right: 4.4rem;
                            width: 5.3rem;
                            height: 5.3rem;
                            font-size: 1.6rem;

                            @media (max-width:$media-mobile) {
                                top: 0;
                                width: 5.3rem;
                                height: 5.3rem;
                                right: 3rem;
                            }
                        }

                        .item_wrapper {
                            width: 34.432rem;
                            height: 32.355rem;

                            @media (max-width:$media-mobile) {
                                height: 33rem;
                                width: 100%;
                                min-width: 35rem;
                            }

                            .name,
                            .price {
                                font-size: 2.556rem;
                                line-height: 3.068rem;

                                @media (max-width:$media-mobile) {
                                    font-size: 2rem;
                                    line-height: 2.4rem;
                                }

                                span {
                                    font-size: 3.196rem;
                                    line-height: 3.835rem;

                                    @media (max-width:$media-mobile) {
                                        font-size: 2.6rem;
                                        line-height: 3.12rem;
                                    }
                                }
                            }

                            .price {
                                margin-bottom: 1.5rem;

                                @media (max-width:$media-mobile) {
                                    margin-bottom: 2rem;
                                }
                            }

                            button {
                                font-size: 1.841rem;
                                line-height: 2.209rem;
                                padding: 1.4rem 2.7rem;
                                border-radius: 0.866rem;

                                @media (max-width:$media-mobile) {
                                    font-size: 1.6rem;
                                    line-height: 1.92rem;
                                    padding: 1.3rem 2.7rem;
                                }
                            }
                        }
                    }

                    &.available {
                        .dot {
                            color: $color-black;
                            background-color: $color-white;
                        }

                        .item_wrapper {
                            background: linear-gradient(137.3deg, #977A50 10.32%, #DEB984 31.23%, #B89263 50.12%, #AF895C 67.34%, #D7B27B 86.35%);

                            &::before,
                            &::after {
                                opacity: 0.3;
                            }

                            .name,
                            .price {

                                span {
                                    color: $color-white;
                                }
                            }

                            button {
                                color: $color-black ;
                                background-color: $color-white;
                            }
                        }
                    }

                    .dot {
                        position: absolute;
                        top: 0;
                        right: 4.5rem;
                        width: 6.5rem;
                        height: 6.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $color-green;
                        border-radius: 50%;
                        transition: all ease-in-out 300ms;
                        z-index: 1;
                        font-size: 2rem;
                        color: $color-white;
                        font-family: $font-Centurygothic;
                        font-weight: 400;

                        @media (max-width:$media-mobile) {
                            width: 5.3rem;
                            height: 5.3rem;
                            right: 3rem;
                        }

                        span {
                            font-weight: 700;
                        }
                    }

                    .item_wrapper {
                        width: 20rem;
                        height: 20rem;
                        background: linear-gradient(137.3deg, #B9BCC1 10.32%, #D1D2D6 31.23%, #EEF0EF 50.12%, #DDE1E2 67.34%, #AEB6B8 86.35%);
                        box-shadow: 0 0 2rem 0 rgba(237, 224, 134, 0.2);
                        border-radius: 2.5rem;
                        padding: 0 2rem;
                        margin: 1rem auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: relative;
                        overflow: hidden;
                        transition: all ease-in-out 300ms;

                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            width: 100%;
                            height: 9.614rem;
                            background-image: url("/img/pattern/pattern_white.svg");
                            background-position-y: 3.1rem;
                            opacity: 0.7;
                            pointer-events: none;

                            @media (max-width:$media-mobile) {
                                background-image: url("/img/pattern/pattern_white_mobile.svg");
                                height: 7.845rem;
                                background-position-y: 2.3rem;
                            }
                        }

                        &::before {
                            top: -3rem;
                            background-position-x: 2rem;

                            @media (max-width:$media-mobile) {
                                top: -2.5rem;
                            }
                        }

                        &::after {
                            bottom: -3rem;
                            transform: rotate(180deg);

                            @media (max-width:$media-mobile) {
                                background-position-x: 2rem;
                            }
                        }

                        .name,
                        .price {
                            font-size: 3.2rem;
                            line-height: 3.84rem;
                            text-transform: uppercase;
                            height: auto;
                            transition: all ease-in-out 300ms;
                            padding: 0;

                            @media (max-width:$media-mobile) {
                                font-size: 2.4rem;
                                line-height: 2.88rem;
                            }

                            span {
                                color: $color-green;
                                font-size: 4rem;
                                line-height: 4.8rem;
                                font-weight: 700;
                                transition: all ease-in-out 300ms;

                                @media (max-width:$media-mobile) {
                                    font-size: 3.2rem;
                                    line-height: 3.84rem;
                                }
                            }
                        }

                        .name {
                            font-weight: 700;
                        }

                        .price {
                            font-weight: 350;
                            margin-bottom: 4rem;

                            @media (max-width:$media-mobile) {
                                margin-bottom: 3rem;
                            }
                        }

                        button {
                            color: $color-white;
                            font-size: 2.304rem;
                            line-height: 2.765rem;
                            text-align: center;
                            font-weight: 500;
                            text-transform: uppercase;
                            letter-spacing: 0.1rem;
                            background-color: $color-black;
                            padding: 1.8rem 3rem;
                            border-radius: 1.084rem;
                            transition: all ease-in-out 300ms;

                            @media (max-width:$media-mobile) {
                                font-size: 1.6rem;
                                line-height: 1.92rem;
                                padding: 1.4rem 2.7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}