@import '../../../global/variable.scss';

.dash {
    border-width: 4px;
    border-color: #EBD7B2;
    box-shadow: none;
    border-radius: 4px;
    max-width: 237px;
    margin: 0 auto;
    outline: none;
    unicode-bidi: bidi-override;
    border-style: solid;


    @media (max-width:$media-mobile) {
        border-width: 1px;
        max-width: 152px;
    }
}