@import '../../../global/variable.scss';

.dash {
    border-width: 0.4rem;
    border-color: #EBD7B2;
    box-shadow: none;
    border-radius: 0.4rem;
    max-width: 23.7rem;
    margin: 0 auto;
    outline: none;
    unicode-bidi: bidi-override;
    border-style: solid;


    @media (max-width:$media-mobile) {
        border-width: 0.1rem;
        max-width: 15.2rem;
    }
}