@import '../../global/variable.scss';

.track_vertical {
    background-color: #ebd7b22c;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.thumb_vertical {
    background-color: $color-beige;
    border-radius: 1rem;
    overflow: hidden;
}