@import '../../global/variable.scss';

.state {
    margin-top: 28rem;

    @media (max-width:$media-mobile) {
        margin-top: 15rem;
    }

    .video_wrapper {
        width: 116.6rem;
        height: 65.2rem;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 9rem;
        overflow: hidden;
        border-radius: 3rem;
        overflow: hidden;

        @media (max-width:$media-mobile) {
            margin-top: 7rem;
            width: 100%;
            height: 22rem;
            border-radius: 1.8rem;
        }
    }
}