@import '../../../global/variable.scss';

.button {
    font-size: 32px;
    color: $color-white;
    line-height: 38.4px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    margin: 0 auto;
    padding: 25px 95px;
    background-color: $color-green;
    box-shadow: 0 0 40px 0 #3E5837;

    &.small {
        font-size: 21px;
        line-height: 25.24px;
        padding: 16.5px 33px;
    }
}