@import '../../global/variable.scss';

.title_desc {
    color: $color-white;
    font-family: $font-Spectral;
    text-align: center;
    font-size: 4rem;
    max-width: 90rem;
    margin: 0 auto;
    line-height: 1.1;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 2rem;


    span {
        color: $color-beige;
        font-weight: 700;
    }
}

.mission {
    font-size: 3.5rem;
    color: $color-white;
    font-family: $font-Spectral;
    text-align: center;
    font-weight: 500;
    margin-bottom: 3rem;
    opacity: 1;
    transition: all ease-in-out 300ms;

    &.hide {
        opacity: 0;
    }

    span {
        color: $color-beige;
    }
}

.slider_wrapper {
    @media (max-width:$media-mobile) {
        width: 35rem;
        margin: 0 auto;
        margin-bottom: 10rem;
    }
}