@import '../../../global/variable.scss';

.arrowPrev,
.arrowNext {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 50%;
    z-index: 1;
    cursor: pointer;

    @media (max-width:$media-mobile) {
        top: auto;
        bottom: 0;
    }

    &.bottom {
        top: auto;
        bottom: 0;
    }
}

.arrowPrev {
    left: 0;
    transform: rotate(180deg);

    @media (max-width:$media-mobile) {
        left: 25%;
    }

    &.bottom {
        left: 45%;

        @media (max-width:$media-mobile) {
            left: 25%;
        }
    }
}

.arrowNext {
    right: 0;

    @media (max-width:$media-mobile) {
        right: 25%;
    }

    &.bottom {
        right: 45%;

        @media (max-width:$media-mobile) {
            right: 25%;
        }
    }
}