@import '../../global/variable.scss';

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    .navigation {
        padding: 12.3rem 0;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-size: 1.6rem;
                line-height: 2rem;
                color: $color-white;
                text-transform: uppercase;
                font-weight: 350;
                padding: 1.6rem;
            }
        }

        @media (max-width:$media-mobile) {
            display: none;
        }
    }
}