@import '../../global/variable.scss';

header {

    width: 100%;
    z-index: 1;
    transition: all ease-in-out 300ms;
    pointer-events: none;
    background-color: $color-bg;
    box-shadow: 0 0 2rem 1rem $color-bg;
    font-family: "Lora", serif;

    @media (max-width:$media-mobile) {
        height: 10rem;
        box-shadow: none;
        background-color: transparent;
        pointer-events: none;
    }

    &.open {
        @media (max-width:$media-mobile) {
            height: 100dvh;
        }
    }

    .navigation {
        padding-top: 3rem;
        padding-bottom: 2rem;
        position: relative;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                font-size: 1.6rem;
                line-height: 2rem;
                color: $color-white;
                text-transform: uppercase;
                font-weight: 600;
                padding: 1.6rem;
                pointer-events: all;
                letter-spacing: 0.1rem;
                transition: all ease-in-out 300ms;

                &:hover {
                    color: $color-green;
                }
            }
        }

        @media (max-width:$media-mobile) {
            display: none;
        }
    }

    .burger_wrapper {
        position: fixed;
        top: 2rem;
        right: 4rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 11;




        .burger {
            display: none;
            padding: 1rem;
            pointer-events: all;
            border-radius: 50%;

            @media (max-width:$media-mobile) {
                display: block;
                background-color: $color-bg;
                box-shadow: 0 0 2rem 1rem $color-bg;
            }

            .me_burger {
                background-color: aqua;
            }
        }
    }

    .navigation_mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-color: $color-bg;
        transform: translateY(-120%);
        z-index: 10;
        transition: all ease-in-out 300ms;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        pointer-events: all;

        &.active {
            transform: translateY(0%);
        }

        ul {
            li {
                text-align: center;

                a {
                    font-size: 2.4rem;
                    line-height: 2.88rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $color-white;
                    padding: 1.5rem;
                    display: block;
                    pointer-events: all;

                    &:hover {
                        color: $color-green;
                    }
                }
            }
        }

    }

}