@import '../../global/variable.scss';

.time_line {
    margin-top: 32rem;
    padding-bottom: 15rem;

    @media (max-width:$media-mobile) {
        margin: 0;
        margin-top: 20rem;
        padding-bottom: 2.5rem;
        margin-bottom: 15rem;
    }

    .line {
        // height: 223.6rem;
        height: 157rem;
        width: 0.3rem;
        background-color: $color-white;
        position: relative;
        border-radius: 0.3rem;
        margin: 0 auto;
        margin-top: 13.95rem;
        box-shadow: 0 0 0.5rem 0 $color-white;

        @media (max-width:$media-mobile) {
            width: 0.1rem;
            border-radius: 0.1rem;
            // height: 155.8rem;
            height: 114.9rem;
            margin: 0;
            margin-left: 2.5rem;
            margin-top: 3rem;
        }

        .dot {
            position: absolute;
            top: 0;
            left: calc(0.15rem - 7.9rem/2);

            @media (max-width:$media-mobile) {
                left: calc(0.15rem - 2.5rem);
            }

            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                top: 23.6rem;

                @media (max-width:$media-mobile) {
                    top: 16.4rem;
                }
            }

            &:nth-of-type(3) {
                top: 58.6rem;

                @media (max-width:$media-mobile) {
                    top: 43.1rem;
                }
            }

            &:nth-of-type(4) {
                top: 84.9rem;

                @media (max-width:$media-mobile) {
                    top: 66.3rem;
                }
            }

            &:nth-of-type(5) {
                top: 108.4rem;

                @media (max-width:$media-mobile) {
                    top: 82.5rem;
                }
            }

            &:nth-of-type(6) {
                top: 127.4rem;

                @media (max-width:$media-mobile) {
                    top: 96rem;
                }
            }

            &:nth-of-type(7) {
                top: 157rem;

                @media (max-width:$media-mobile) {
                    top: 114.9rem;
                }
            }

            &:nth-of-type(8) {
                top: 195.1rem;

                @media (max-width:$media-mobile) {
                    top: 140.8rem;
                }
            }

            &:nth-of-type(9) {
                top: 222.7rem;

                @media (max-width:$media-mobile) {
                    top: 153.3rem;
                }
            }

            &.right {
                .dot_wrapper {
                    .content {
                        left: 7.9rem;
                        text-align: left;
                        align-items: flex-start;
                        margin-left: 3rem;

                        @media (max-width:$media-mobile) {
                            left: 4rem;
                        }
                    }
                }
            }

            &.left {
                .dot_wrapper {
                    .content {
                        right: 7.9rem;
                        text-align: right;
                        align-items: flex-end;
                        margin-right: 3rem;

                        @media (max-width:$media-mobile) {
                            text-align: left;
                            align-items: flex-start;
                            right: auto;
                            left: 4rem;
                            margin-right: 0;
                            margin-left: 3rem;
                        }
                    }
                }
            }

            .dot_wrapper {
                position: relative;
                width: 7.9rem;
                height: 7.9rem;
                background-color: $color-beige;
                box-shadow: 0 0 1rem 0 $color-beige;
                border-radius: 50%;

                @media (max-width:$media-mobile) {
                    width: 5rem;
                    height: 5rem;
                }

                &.done {
                    background-color: $color-green;
                    box-shadow: 0 0 1rem 0 $color-green;
                }

                .content {
                    position: absolute;
                    top: 0;
                    color: $color-white;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 63.6rem;

                    @media (max-width:$media-mobile) {
                        width: 28.6rem;
                        padding: 0;
                    }

                    .title {
                        font-size: 4rem;
                        line-height: 4.8rem;
                        margin-bottom: 1.3rem;

                        @media (max-width:$media-mobile) {
                            font-size: 3.2rem;
                            line-height: 3.84rem;
                            margin-bottom: 1.5rem;
                        }
                    }

                    .info {
                        font-family: $font-Centurygothic;

                        p {
                            font-size: 2rem;
                            line-height: 2.452rem;
                            margin-bottom: 1.6rem;

                            @media (max-width:$media-mobile) {
                                font-size: 1.3rem;
                                line-height: 1.594rem;
                                margin-bottom: 1.5rem;
                            }

                            &:last-of-type {
                                margin-bottom: 0;
                            }

                        }
                    }
                }
            }

        }
    }
}