@import '../../global/variable.scss';

.time_line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 240px;

    .line {
        height: 2236px;
        width: 3px;
        background-color: $color-white;
        position: relative;
        border-radius: 3px;
        margin: 0 auto;
        margin-top: 139.5px;

        .dot {
            position: absolute;
            top: 0;
            left: calc(1.5px - 79px/2);

            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                top: 236px;
            }

            &:nth-of-type(3) {
                top: 586px;
            }

            &:nth-of-type(4) {
                top: 849px;
            }

            &:nth-of-type(5) {
                top: 1084px;
            }

            &:nth-of-type(6) {
                top: 1274px;
            }

            &:nth-of-type(7) {
                top: 1570px;
            }

            &:nth-of-type(8) {
                top: 1951px;
            }

            &:nth-of-type(9) {
                top: 2227px;
            }

            &.right {
                .dot_wrapper {
                    .content {
                        left: 79px;
                        text-align: left;
                        align-items: flex-start;
                        margin-left: 30px;
                    }
                }
            }

            &.left {
                .dot_wrapper {
                    .content {
                        right: 79px;
                        text-align: right;
                        align-items: flex-end;
                        margin-right: 30px;
                    }
                }
            }

            .dot_wrapper {
                position: relative;
                width: 79px;
                height: 79px;
                background-color: $color-green;
                border-radius: 50%;

                .content {
                    position: absolute;
                    top: 0;
                    color: $color-white;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 636px;

                    .title {
                        font-size: 40px;
                        line-height: 48px;
                        margin-bottom: 13px;
                    }

                    .info {
                        font-size: 20px;
                        line-height: 24.52px;
                        font-family: $font-Centurygothic;

                        p {
                            margin-bottom: 16px;
                        }
                    }
                }
            }

        }
    }
}