@import '../../../global/variable.scss';

.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    outline: none;
    margin-bottom: 6rem;
    position: relative;
    z-index: 2;

    @media (max-width:$media-mobile) { 
        margin-bottom: 12.5rem;
        flex-direction: column;
    }

    img {
        width: 129.2rem;
        height: auto;
        margin: 0 auto;

        @media (max-width:$media-mobile) {
            width: 100%;
            order: 2;
        }
    }

    .point {
        position: absolute;
        left: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 72.2rem;

        @media (max-width:$media-mobile) {
            position: initial;
            width: 100%;
            left: 0;
            margin-bottom: 3.5rem;

            &:nth-of-type(2n-1) {
                order: 1;
            }

            &:nth-of-type(2n) {
                order: 3;
            }
        }

        &:nth-of-type(2n) {
            left: auto;
            right: 9rem;
        }

        &:nth-of-type(1) {
            top: 30%;
            left: auto;
            right: 10%;
        }

        .title {
            font-size: 4.8rem;
            line-height: 5.76rem;
            color: $color-white;
            font-family: $font-Playfair;
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 1.7rem;

            @media (max-width:$media-mobile) {
                font-size: 2.4rem;
                line-height: 2.88rem;
                margin-bottom: 1rem;
                order: 2;
            }
        }

        .text {
            font-size: 2.4rem;
            line-height: 1;
            color: $color-white;
            font-family: $font-Roboto;
            text-align: center;
            padding: 3.4rem 7rem;
            background-color: rgba(90, 90, 90, 0.63);
            border: 0.1rem solid $color-white;
            border-radius: 2.5rem;

            @media (max-width:$media-mobile) {
                font-size: 1.3rem;
                line-height: 1.594rem;
                padding: 1.2rem;
                border-radius: 1.5rem;
                order: 3;
            }
        }
    }
}