@import '../../../global/variable.scss';

.title {
    font-size: 7rem;
    line-height: 8.4rem;
    font-weight: 700;
    color: $color-beige;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;


    @media (max-width:$media-mobile) {
        font-size: 3.2rem;
        line-height: 3.84rem;
    }
}