@import '../../global/variable.scss';

.patron {
    @media (max-width:$media-mobile) {
        padding-top: 60px;
    }

    .patron_type {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        align-items: center;
        flex-flow: row wrap;
        margin-top: 122px;

        @media (max-width:$media-mobile) {
            margin: 30px auto;
            gap: 0
        }

        .item_wrapper {
            overflow: hidden;

            &:nth-of-type(1) {
                .item {
                    padding-top: 257px;
                }
            }

            &:nth-of-type(2) {
                .item {
                    padding-top: 237px;
                }
            }

            &:nth-of-type(3) {
                .item {
                    padding-top: 220px;
                }
            }

            &:nth-of-type(4) {
                .item {
                    padding-top: 257px;
                }
            }

            @media (max-width:$media-mobile) {
                padding-bottom: 50px;

                &:nth-of-type(1) {
                    .item {
                        padding-top: 80px;
                    }
                }

                &:nth-of-type(2) {
                    .item {
                        padding-top: 93px;
                    }
                }

                &:nth-of-type(3) {
                    .item {
                        padding-top: 24px;
                    }
                }

                &:nth-of-type(4) {
                    .item {
                        padding-top: 170px;
                    }
                }
            }

            .item {
                width: 862px;
                height: 687px;
                background-color: $color-gray;
                border: 1px solid $color-white;
                border-radius: 35px;
                padding: 230px 124px 80px 124px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;
                margin-bottom: 16px;
                overflow: hidden;

                @media (max-width:$media-mobile) {
                    margin: 0;
                    padding: 0;
                    padding-top: 0;
                    width: 100%;
                    height: 365px;
                    border-radius: 18px;
                    border-width: 0.4px;
                    justify-content: flex-start;
                    overflow: visible;
                }

                .background_wrapper {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                .content {
                    z-index: 1;

                    .title {
                        font-size: 32px;
                        line-height: 38.4px;
                        color: $color-white;
                        text-align: center;
                        font-weight: 350;
                        margin-bottom: 30px;

                        @media (max-width:$media-mobile) {
                            padding: 0 14px;
                            font-size: 24px;
                            line-height: 28.8px;
                            margin-bottom: 15px;
                        }

                        span {
                            color: $color-beige;
                            font-weight: 700;
                        }
                    }

                    .texts {
                        @media (max-width:$media-mobile) {
                            padding: 0px 22px;
                        }

                        p {
                            color: $color-white;
                            font-size: 16px;
                            line-height: 19.62px;
                            text-align: center;
                            margin-bottom: 24px;

                            @media (max-width:$media-mobile) {
                                font-size: 13px;
                                line-height: 15.94px;
                                margin-bottom: 15px;
                            }
                        }

                        .patrons {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 18px;
                            gap: 10px;

                            @media (max-width:$media-mobile) {
                                flex-flow: row wrap;
                            }

                            .patron {
                                font-size: 13px;
                                line-height: 15.6px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                text-align: center;
                                font-weight: 700;
                                text-transform: uppercase;
                                background: linear-gradient(137.3deg, #B9BCC1 10.32%, #D1D2D6 31.23%, #EEF0EF 50.12%, #DDE1E2 67.34%, #AEB6B8 86.35%);
                                box-shadow: 1px -1px 12.1px 0px rgba(255, 255, 255, 0.16);
                                border-radius: 13px;
                                padding: 19px 0;
                                width: 131px;

                                @media (max-width:$media-mobile) {
                                    width: 110px;
                                    font-size: 11px;
                                    line-height: 13.2px;
                                    padding: 16px 0;
                                }

                                .name {
                                    color: $color-black;
                                }

                                .price {
                                    color: $color-green;
                                }
                            }
                        }
                    }

                    .btn {
                        margin-top: 40px;

                        @media (max-width:$media-mobile) {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            bottom: -30px;
                        }
                    }
                }
            }
        }
    }
}